

nav ul {
    display: flex;
    list-style-type: none;

    justify-content: space-evenly;
}

nav li {
    margin-right: 1em;
    font-size: 2rem;
}

header {
    width: var(--width);
    margin: 0 auto;
}